{% extends 'base.html' %}

{% block title %}
Search - {{ SITENAME|striptags }}
{% endblock title %}

{% block content_body %}

<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'show': 10,
         'mode': 'json',
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
     });
});
</script>

<section id="content" class="body">

<div align="center"><input type="text" size="60" id="tipue_search_input">
<input type="button" id="tipue_search_button" value="Search"></div>
<div id="tipue_search_content"></div>

</section>
{% endblock content_body %}

{% block scripts %}
{% endblock %}
{% if CUSTOM_SCRIPTS_SEARCH %}
{% include "includes/" + CUSTOM_SCRIPTS_SEARCH %}
{% endif %}
